.Nation{
   color: brown;
}
.one{
    background-color: orange;
    padding: 100px;
}
.two{
    background-color: white;
    padding: 8px;
}
.three{
    background-color: green;
    padding: 100px;
}
